@charset"utf-8";

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight:400;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index:2;
}

#cssmenu sup {
	font-size:0.8em;
}


#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: 'Roboto Slab', serif;
  font-size:13px;
  color:#000;
  font-weight:400;
}

#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
	font-family: 'Roboto Slab', serif;
  padding:9px 2px 14px;
  font-size:14px;
  font-weight:400;
  letter-spacing:0px;
  text-decoration: none;
  color:#555;
  text-transform: uppercase;
  margin:0 20px;
}

#cssmenu > ul > li:hover > a {
  color:#2196f3;
  border-bottom:3px solid #2196f3;
  font-weight:600;
}
#cssmenu > ul > li.has-sub > a {
  padding-right:25px;
}
#cssmenu > ul > li.has-sub > a:after {
  position:absolute;
  top:22px;
  right:11px;
  width:8px;
  height:2px;
  display:none;
  background:#fafafa;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display:none;
  width:8px;
  height:2px;
  background:#fafafa;
  content: '';
  /*-webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;*/
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  /*-webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;*/
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height:35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#cssmenu ul ul li a {
  font-family: 'Roboto Slab', serif;
  border-top:1px solid #ececec;
  padding:11px 24px;
  width:365px;
  font-size:14px;
  text-decoration:none;
  color:#555;
  font-weight:400;
  background:#feffff;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 3px solid #f05e22;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color:#f05e22;
  background:#fafafa;
}
#cssmenu ul ul li.has-sub > a:after {
  top:13px;
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left:11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top:13px;
  right:14px;
  display: block;
  width:0px;
  height:0px;
  border-top: 4px solid transparent;
  border-bottom:4px solid transparent;
  border-left:4px solid #fff;
  content: '';
}

#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 13px;
  height: 0;
}



.arrowp {
	display:inline-block;
	position:relative;
	top:1px;
	left:4px;
	z-index:1000;
}


/******************** mobile css start here****************/



#cssmenu.small-screen {
  background-color:#fc9542;
  color:#fff;
  width: 100%;
}
#cssmenu.small-screen ul {
  width: 100%;
  display: none;
}
#cssmenu.small-screen.align-center > ul {
  text-align: left;
}
#cssmenu.small-screen ul li {
  width: 100%;
  border-top: 1px solid #ececec;
  background-color:#fff;
}
#cssmenu.small-screen ul ul li,
#cssmenu.small-screen li:hover > ul > li {
  height:auto;
}
#cssmenu.small-screen ul li a,
#cssmenu.small-screen ul ul li a {
  width: 100%;
  color:#333;
  font-weight:400;
  border-bottom:0;
}
#cssmenu.small-screen > ul > li {
  float: none;
}
#cssmenu.small-screen ul ul li a {
  padding-left:35px;
}
#cssmenu.small-screen ul ul ul li a {
  padding-left:55px;
}
#cssmenu.small-screen ul ul li a {
  color: #696060;
  background:#feffff;
  height: 45px;
}

#cssmenu.small-screen ul ul li.active > a {
  color: #333;
  background-color:#fff;
}

#cssmenu.small-screen ul ul li:hover > a {
  color: #f05e22;
    background: #fafafa;
}


#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}
#cssmenu.small-screen > ul > li.has-sub > a:after,
#cssmenu.small-screen > ul > li.has-sub > a:before,
#cssmenu.small-screen ul ul > li.has-sub > a:after,
#cssmenu.small-screen ul ul > li.has-sub > a:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  font-family: 'Roboto Slab', serif;
  display: block;
  padding:17px 20px;
  color: #fff;
  cursor: pointer;
  font-size:14px;
  text-transform: uppercase;
  font-weight:400;
}
#cssmenu.small-screen #menu-button:after {
  position: absolute;
  top: 22px;
  right:17px;
  display: block;
  height:9px;
  width: 20px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  content: '';
}
#cssmenu.small-screen #menu-button:before {
  position: absolute;
  top: 16px;
  right:17px;
  display:block;
  height:3px;
  width:20px;
  background: #fff;
  content: '';
}

#cssmenu.small-screen #menu-button.menu-opened:after {
  top: 23px;
  border: 0;
  height: 2px;
  width: 15px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  top: 23px;
  background: #ffffff;
  width: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#cssmenu.small-screen .submenu-button {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  display: block;
  border-left:/* 1px solid rgba(120, 120, 120, 0.2);*/none;
  height:49px;
  width:49px;
  cursor: pointer;
  color:#000;
  background-color:#fc9542;
}
#cssmenu.small-screen .submenu-button.submenu-opened {
  background: #FF9D5E;
}
#cssmenu.small-screen ul ul .submenu-button {
  right:0;
  top: 0;
  height:40px;
  width:40px;
}
#cssmenu.small-screen .submenu-button:after {
  position: absolute;
  content: '';
}
#cssmenu.small-screen ul ul .submenu-button:after {
  position: absolute;
}
#cssmenu.small-screen .submenu-button.submenu-opened:after {
  position: absolute;
  top: 19px;
  right:22px;
  display: block;
  border-left: 4px solid transparent;
  border-right:4px solid transparent;
  border-bottom:4px solid #fff;
  content: '';
}
#cssmenu.small-screen .submenu-button:before {
  position: absolute;
  top: 19px;
  right:22px;
  display: block;
  border-left: 4px solid transparent;
  border-right:4px solid transparent;
  border-top:4px solid #fff;
  content: '';
}
#cssmenu.small-screen ul ul .submenu-button:before {

}
#cssmenu.small-screen .submenu-button.submenu-opened:before {
  display: none;
}
#cssmenu.small-screen.select-list {
  padding: 5px;
}

