@charset"utf-8";

body {
  margin: 0 auto;
  background-color:#fff;
  font-family: 'Roboto Slab', serif;
  overflow-x:hidden;
}

.img_slot{
	position:relative;
	overflow:hidden;
	clear:both;
}

.banner_img{
	background: url(../image/about_us.jpg)no-repeat center;
	min-height:350px;
	background-size:cover;
}

/* Breadcrumb */
.bread_area {
	background-color:transparent;
	border-bottom:1px solid #eee;
}

ul.breadcrumb_b{
	font-family: 'Roboto Slab', serif;
	list-style-type:none;
	margin:0;
	background:#fff;
	padding: 0;
	color:#333;
	text-decoration:none;
	padding:12px 0px;
}

ul.breadcrumb_b li{
	display:inline;
}


ul.breadcrumb_b a:link,
ul.breadcrumb_b a:active,
ul.breadcrumb_b a:visited{
	font-family: 'Roboto Slab', serif;
	font-size:1em;
	color:#333;
	text-decoration:none;
}

ul.breadcrumb_b a:hover{
	color:#ff961b;
	text-decoration:underline;
}

/*product_d start here*/
.product_d{
	width:100%;
	position:relative;
	background-color:#f1f3f6;
	padding:30px 0px;
}

.order_box{
	display: inline-block;
    background-color: #fff;
    margin: 0 18px 16px 0;
	padding:2px 0px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	width:100%;
}

.left_o_top{
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 47px;	
}

.my_cart{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
    color: #212121;
    font-size: 16px;
    font-weight:700;
}

.right_o_top{
	display:block;
}

.location{
	display:block;
	border-bottom: solid 2px #2874f0;
}

.blue{
	color:#2874f0;
}


.map_b{
    vertical-align: middle;
    margin-right:2px;
    fill: #2874f0;
}

.loc{
	display:inline;
    line-height: 25px;
	
}

.loc_details{
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    width:180px;
    padding-left: 6px;
    vertical-align: middle;
}

.check_t{	
	font-family: 'Roboto Slab', serif;
	font-weight:700;
    cursor: pointer;
    font-size: 14px;
    color: #2874f0;
	vertical-align: middle;
    margin-left:auto;
    padding: 8px;
    position: relative;
}

.delivery_slot{
	width:100%;
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0px;
	padding:15px 25px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.left_delivery{
	position:relative;	
	width:38%;
	float:left;
}

.right_delivery{
	width:62%;
	position:relative;
	float:right;
}

.deliver_slot_h{
	font-family: 'Roboto Slab', serif;
    color: #212121;
    font-size:15px;
    font-weight:700;
}

.delivery_text{
	display:inline;
	font-family: 'Roboto Slab', serif;
    color: #212121;
    font-size:13px;
    font-weight:400;
}


.select_date_p{
	display:inline;
	font-family: 'Roboto Slab', serif;
    color:#5eb1cf;
    font-size:14px;
    font-weight:700;

}

.order_b{
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0px;
	padding:15px 25px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.item_a{
	position:relative;	
	width:25%;
	float:left;
	padding:10px 0px;
}

.item_b{
	width:40%;
	position:relative;
	float:left;
}
.item_c{
	width:35%;
	position:relative;
	float:left;
}


.pro_img{
	width:80%;
	margin:0% 2% 6% 0%;
    text-align:center;
}


.product_id{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:1.425em;
	text-decoration:none;
	margin:0px;
	padding:0px 0px 0px 0px;
}


.productname{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:16px;
	text-decoration:none;
	margin:0px;
	padding:3px 0px 0px 0px;
}


.fish_type_marathi{
	position:relative;
	text-align:left;
	color:#333;
	font-weight:300;
	font-size:0.875em;
	margin:0px;
	padding:0px 0px 0px 3px;
}

.kg{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#f07830;
	font-weight:400;
	font-size:0.475em;
	padding:0%;
	margin:6% 0% 0% 0%;
}

.kg_a{
	position:relative;
	font-family: 'Roboto Slab', serif;
	color:#333;
	font-weight:400;
	font-size:0.875em;
	padding:0px 0px 0px 6px;
	margin:10px 0px 0px 0px;
}

.price{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#2c97de;
	font-weight:700;
	font-size:1.6em;
	padding:3px 0px 0px 0px;
	margin:0px;
}

.available{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:0.875em;
	padding:10px 0px 0px 0px;
}

.stock{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#2c97de;
	font-weight:400;
	font-size:1em;
}

.remove_b{
	display:inline;
	font-family: 'Roboto Slab', serif;
    color: #212121;
    font-size:16px;
    font-weight:700;
	padding:8px 0px 0px 10px;
}

a.remove_b:link,
a.remove_b:active,
a.remove_b:visited {
	display: inline-block;
	text-decoration:none;
	margin:0px 0px 0px 0px;
}

a.remove_b:hover{	
	color:#2c97de;
	text-decoration:underline
}

.quantity_box{
	position:relative;
	display:block;
	width:100%;
	text-align:left;
	padding:15px 0px 10px 0px;
	margin:0px;
}

form {
  width:100%;
  position:relative;
  top: 0;
  bottom: 0;
  left:0;
  height:30px;

}

input[type=number] {
  float:left;
  width:60px;
  height:33px;
  font-family: Lato;
  font-weight:700;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align:center;
  color: #333;
  border: 1px #333 solid;
  background: none;
  outline: none;
  pointer-events: none;
}

span.spinner {
  position:relative;
  height: 40px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 35px;
  height: 33px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  line-height:33px;
  color: #333;
  border: 1px #333 solid;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

span.spinner > .add {
  top: 0;
  border: 1px #333 solid;
  border-left: 0;
  border-radius: 0 2px 2px 0;
}

span.spinner > .sub:hover,
span.spinner > .add:hover {
  background: #eee;
  color: #25323B;
}
 input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
}


.d_date{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:13px;
	padding:0px 0px 0px 0px;
}

.d_slot{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:13px;
	padding:5px 0px 0px 0px;
}

.last_box{
	position:relative;
	padding:30px 0px;
	background-color:#fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	border-top: 1px solid #f0f0f0;
	box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.button_place{
	position:relative;
	margin:0px 0px 0px 240px;
}


.b_con{
	font-family: 'Roboto Slab', serif;
	color:#fff;
	font-weight:700;
	font-size:14px;
	margin:0px 15px 0px 0px;
    padding:12px 30px;
    background-color:#EF5B2C;
	border:1px solid #eee;
	webkit-appearance:none;
	box-shadow:0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.b_con:hover{
	color:#fff;
	background-color:#EF5B2C;
	text-decoration:underline;
}


.b_place{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:14px;
	text-decoration:none;
    margin-right:16px;
    padding:12px 60px;
    background-color:#EF5B2C;
    color: #fff;
	border:1px solid #eee;
	box-shadow:0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.b_place:hover{
	color:#fff;
	background-color:#EF5B2C;
}


.price_box{
	position:relative;
	background-color:#fff;
}


.head_row{
	position:relative;
	background-color:#fff;
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 47px;	    
} 

.p_details{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:14px;
}

.price_detail_box{
	position:relative;
	background-color:#fff;
	padding:25px 30px 50px 30px;
	
}

.text_p{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:60%;
}	

.text_product_price{
	position:relative;
	float:left;
	width:40%;
}	

.price_n{
	font-family: 'Roboto Slab', serif;
	color:#222;
	text-align:right;
	font-weight:400;
	font-size:14px;
}

.text_d{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:55%;
}	

.text_d_price{
	position:relative;
	float:left;
	width:45%;
}	

.styleb{
	position:absolute;
	border:1px solid #eee;
	width:80%;
	top:20px;
}

.amount_p{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:50%;
	font-weight:700;
	padding:10px 0px 30px 0px;
}	


.text_amount_price{
	position:relative;
	float:left;
	width:50%;
	padding:10px 0px 30px 0px;
}

.safe_row{
	position:relative;
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 20px 10px 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;    
} 

.shield_i{
	width:10%;
	display:inline;
}

.hygine_text{
    font-size:14px;
    font-weight:700;
    line-height: 1.29;
    color: #878787;
	/*padding:10px 3px 0px 13px;*/
}

.radio{
	font-family:Lato, Sans-serif;
	font-size:16px;
	padding:14px 0px 0px 0px; 
	text-decoration:none; 
	margin:1% auto; 
	color:#333; 
}


.p_line{
	position:absolute;
	margin:0 auto;
	width:60%;
	border:1px solid #bfbfbf;
}


.order_l{
	position:relative;
	display:block;
	width:100%;
    border:1px dashed #e67632;
	left:0;
	top:10;
	margin:6% 0% 0% 0%;
	padding:0%;
}

.style9{
	position:relative;
	width:100%;
	border:1px dashed #eee;
	margin:4% 0%;
}


@media (min-width:767px) and (max-width: 992px ){

/*product_d start here*/
.product_d{
	width:100%;
	display:block;
	clear:both;
	overflow:hidden;
	position:relative;
	background-color:#f1f3f6;
	padding:30px 0px;
}

.col-sm-8, .col-sm-4  {
	overflow:hidden;
	width:100%;
}

.order_box{
	width:100%;
	display:block;
	clear:both;
	overflow:hidden;
    background-color: #fff;
    margin: 0 18px 16px 0;
	padding:2px 0px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

.left_o_top{
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 47px;	
}

.my_cart{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
    color: #212121;
    font-size: 16px;
    font-weight:700;
}

.right_o_top{
	display:block;
}

.location{
	display:block;
	border-bottom: solid 2px #2874f0;
}

.blue{
	color:#2874f0;
}


.map_b{
    vertical-align: middle;
    margin-right:2px;
    fill: #2874f0;
}

.loc{
	display:inline;
    line-height: 25px;
	
}

.loc_details{
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    width:180px;
    padding-left: 6px;
    vertical-align: middle;
}

.check_t{	
	font-family: 'Roboto Slab', serif;
	font-weight:700;
    cursor: pointer;
    font-size: 14px;
    color: #2874f0;
	vertical-align: middle;
    margin-left:auto;
    padding: 8px;
    position: relative;
}

.order_b{
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0px;
	padding:15px 25px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.item_a{
	position:relative;	
	width:25%;
	float:left;
	padding:10px 0px;
}

.item_b{
	width:40%;
	position:relative;
	float:left;
}
.item_c{
	width:35%;
	position:relative;
	float:left;
}


.pro_img{
	width:80%;
	margin:0% 2% 6% 0%;
    text-align:center;
}


.product_id{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:1.425em;
	text-decoration:none;
	margin:0px;
	padding:0px 0px 0px 0px;
}


.productname{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:16px;
	text-decoration:none;
	margin:0px;
	padding:3px 0px 0px 0px;
}


.fish_type_marathi{
	position:relative;
	text-align:left;
	color:#333;
	font-weight:300;
	font-size:0.875em;
	margin:0px;
	padding:0px 0px 0px 3px;
}

.kg{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#f07830;
	font-weight:400;
	font-size:0.475em;
	padding:0%;
	margin:6% 0% 0% 0%;
}

.kg_a{
	position:relative;
	font-family: 'Roboto Slab', serif;
	color:#333;
	font-weight:400;
	font-size:0.875em;
	padding:0px 0px 0px 6px;
	margin:10px 0px 0px 0px;
}

.price{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#2c97de;
	font-weight:700;
	font-size:1.6em;
	padding:3px 0px 0px 0px;
	margin:0px;
}

.available{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:0.875em;
	padding:10px 0px 0px 0px;
}

.stock{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#2c97de;
	font-weight:400;
	font-size:1em;
}

.remove_b{
	display:inline;
	font-family: 'Roboto Slab', serif;
    color: #212121;
    font-size:16px;
    font-weight:700;
	padding:8px 0px 0px 10px;
}

a.remove_b:link,
a.remove_b:active,
a.remove_b:visited {
	display: inline-block;
	text-decoration:none;
	margin:0px 0px 0px 0px;
}

a.remove_b:hover{	
	color:#2c97de;
	text-decoration:underline
}

.quantity_box{
	position:relative;
	display:block;
	width:100%;
	text-align:left;
	padding:15px 0px 10px 0px;
	margin:0px;
}

.d_date{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:13px;
	padding:20px 0px 0px 0px;
}

.d_slot{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:13px;
	padding:5px 0px 0px 0px;
}

.last_box{
	position:relative;
	padding:30px 0px;
	background-color:#fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	border-top: 1px solid #f0f0f0;
	box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.button_place{
	position:relative;
	margin:0px 0px 0px 15px;
}


.b_con{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:13px;
	text-decoration:none;
	margin:0px 15px 0px 0px;
    padding:12px 10px;
    background-color:#f9f9f9;
	border:1px solid #eee;
	webkit-appearance:none;
	box-shadow:0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.b_con:hover{
	color:#fff;
	background-color:#f07830;
}


.b_place{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:13px;
	text-decoration:none;
    margin-right:16px;
    padding:12px 60px;
    background-color:#ff9150;
    color: #fff;
	border:1px solid #eee;
	box-shadow:0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.b_place:hover{
	color:#fff;
	background-color:#f07830;
}


.price_box{
	position:relative;
	background-color:#fff;
}


.head_row{
	position:relative;
	background-color:#fff;
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 47px;	    
} 

.p_details{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:14px;
}

.price_detail_box{
	position:relative;
	background-color:#fff;
	padding:25px 30px 50px 30px;
	
}

.text_p{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:60%;
}	

.text_product_price{
	position:relative;
	float:left;
	width:40%;
}	

.price_n{
	font-family: 'Roboto Slab', serif;
	color:#222;
	text-align:right;
	font-weight:400;
	font-size:14px;
}

.text_d{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:55%;
}	

.text_d_price{
	position:relative;
	float:left;
	width:45%;
}	

.styleb{
	position:absolute;
	border:1px solid #eee;
	width:80%;
	top:20px;
}

.amount_p{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:50%;
	font-weight:700;
	padding:10px 0px 30px 0px;
}	


.text_amount_price{
	position:relative;
	float:left;
	width:50%;
	padding:10px 0px 30px 0px;
}

.safe_row{
	position:relative;
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 20px 10px 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;    
} 

.shield_i{
	width:10%;
	display:inline;
}

.hygine_text{
    font-size:14px;
    font-weight:700;
    line-height: 1.29;
    color: #878787;
	/*padding:10px 3px 0px 13px;*/
}

.radio{
	font-family:Lato, Sans-serif;
	font-size:16px;
	padding:14px 0px 0px 0px; 
	text-decoration:none; 
	margin:1% auto; 
	color:#333; 
}


.p_line{
	position:absolute;
	margin:0 auto;
	width:60%;
	border:1px solid #bfbfbf;
}

.style9{
	position:relative;
	width:100%;
	border:1px dashed #eee;
	margin:4% 0%;
}

}

@media (min-width:480px) and (max-width:768px) {

/*product_d start here*/
.product_d{
	width:100%;
	position:relative;
	background-color:#f1f3f6;
	padding:30px 0px;
}

.order_box{
	display: inline-block;
    background-color: #fff;
    margin: 0 18px 16px 0;
	padding:2px 0px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	width:100%;
}

.left_o_top{
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 47px;	
}

.my_cart{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
    color: #212121;
    font-size: 16px;
    font-weight:700;
}

.right_o_top{
	display:block;
}

.location{
	display:block;
	border-bottom: solid 2px #2874f0;
}

.blue{
	color:#2874f0;
}


.map_b{
    vertical-align: middle;
    margin-right:2px;
    fill: #2874f0;
}

.loc{
	display:inline;
    line-height: 25px;
	
}

.loc_details{
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    width:180px;
    padding-left: 6px;
    vertical-align: middle;
}

.check_t{	
	font-family: 'Roboto Slab', serif;
	font-weight:700;
    cursor: pointer;
    font-size: 14px;
    color: #2874f0;
	vertical-align: middle;
    margin-left:auto;
    padding: 8px;
    position: relative;
}

.order_b{
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0px;
	padding:15px 25px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.item_a{
	position:relative;	
	width:25%;
	float:left;
	padding:10px 0px;
}

.item_b{
	width:40%;
	position:relative;
	float:left;
}
.item_c{
	width:35%;
	position:relative;
	float:left;
}


.pro_img{
	width:80%;
	margin:0% 2% 6% 0%;
    text-align:center;
}


.product_id{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:1.425em;
	text-decoration:none;
	margin:0px;
	padding:0px 0px 0px 0px;
}


.productname{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:16px;
	text-decoration:none;
	margin:0px;
	padding:3px 0px 0px 0px;
}


.fish_type_marathi{
	position:relative;
	text-align:left;
	color:#333;
	font-weight:300;
	font-size:0.875em;
	margin:0px;
	padding:0px 0px 0px 3px;
}

.kg{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#f07830;
	font-weight:400;
	font-size:0.475em;
	padding:0%;
	margin:6% 0% 0% 0%;
}

.kg_a{
	position:relative;
	font-family: 'Roboto Slab', serif;
	color:#333;
	font-weight:400;
	font-size:0.875em;
	padding:0px 0px 0px 6px;
	margin:10px 0px 0px 0px;
}

.price{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#2c97de;
	font-weight:700;
	font-size:1.6em;
	padding:3px 0px 0px 0px;
	margin:0px;
}

.available{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:0.875em;
	padding:10px 0px 0px 0px;
}

.stock{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#2c97de;
	font-weight:400;
	font-size:1em;
}

.remove_b{
	width:100%;
	display:block;
	overflow:hidden;
	clear:both;
	padding:18px 10px 0px 0px;
}

.quantity_box{
	position:relative;
	display:block;
	width:100%;
	text-align:left;
	padding:15px 0px 10px 0px;
	margin:0px;
}

.d_date{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:13px;
	padding:2px 0px 0px 0px;
}

.d_slot{
	font-family: 'Roboto Slab', serif;
	text-align:left;
	color:#555;
	font-weight:400;
	font-size:13px;
	padding:5px 0px 0px 0px;
}

.last_box{
	position:relative;
	padding:30px 0px;
	background-color:#fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	border-top: 1px solid #f0f0f0;
	box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.button_place{
	position:relative;
	margin:0px 0px 0px 15px;
}


.b_con{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:13px;
	text-decoration:none;
	margin:0px 15px 0px 0px;
    padding:12px 10px;
    background-color:#f9f9f9;
	border:1px solid #eee;
	webkit-appearance:none;
	box-shadow:0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.b_con:hover{
	color:#fff;
	background-color:#f07830;
}


.b_place{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:13px;
	text-decoration:none;
    margin-right:16px;
    padding:12px 60px;
    background-color:#ff9150;
    color: #fff;
	border:1px solid #eee;
	box-shadow:0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.b_place:hover{
	color:#fff;
	background-color:#f07830;
}


.price_box{
	position:relative;
	background-color:#fff;
}


.head_row{
	position:relative;
	background-color:#fff;
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 47px;	    
} 

.p_details{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:14px;
}

.price_detail_box{
	position:relative;
	background-color:#fff;
	padding:25px 30px 50px 30px;
	
}

.text_p{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:60%;
}	

.text_product_price{
	position:relative;
	float:left;
	width:40%;
}	

.price_n{
	font-family: 'Roboto Slab', serif;
	color:#222;
	text-align:right;
	font-weight:400;
	font-size:14px;
}

.text_d{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:55%;
}	

.text_d_price{
	position:relative;
	float:left;
	width:45%;
}	

.styleb{
	position:absolute;
	border:1px solid #eee;
	width:80%;
	top:20px;
}

.amount_p{
	font-family:Roboto, Arial, sans-serif;
	position:relative;
	float:left;
	width:50%;
	font-weight:700;
	padding:10px 0px 30px 0px;
}	


.text_amount_price{
	position:relative;
	float:left;
	width:50%;
	padding:10px 0px 30px 0px;
}

.safe_row{
	position:relative;
	border-bottom: 1px solid #f0f0f0;
    padding: 16px 20px 10px 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;    
} 

.shield_i{
	width:10%;
	display:inline;
}

.hygine_text{
    font-size:14px;
    font-weight:700;
    line-height: 1.29;
    color: #878787;
	/*padding:10px 3px 0px 13px;*/
}

.radio{
	font-family:Lato, Sans-serif;
	font-size:16px;
	padding:14px 0px 0px 0px; 
	text-decoration:none; 
	margin:1% auto; 
	color:#333; 
}


.p_line{
	position:absolute;
	margin:0 auto;
	width:60%;
	border:1px solid #bfbfbf;
}

.style9{
	position:relative;
	width:100%;
	border:1px dashed #eee;
	margin:4% 0%;
}



}


@media only screen and (max-width: 480px){

/*product_d start here*/

.product_d{
	width:100%;
	position:relative;
	padding:10px 0px;
}

.product_info{
	width:100%;
	position:relative;
	margin:0 auto;
	height:auto;
	display:block;
}

.img_l_heading{
	font-size:1em;
	padding:1px 10px;
	margin:0px;
}

.carousel-indicators {
  padding: 0 25px 8px 0;
}

.quantity_box{
	position:relative;
	display:block;
	width:100%;
	text-align:left;
	padding:0%;
	margin:1% 0% 0% 0%;
	padding:10px 0px;
}

form {
  width:100%;
  position:relative;
  height:auto;
  overflow:hidden;
  clear:both;
}

.order_box{
	display: inline-block;
    background-color: #fff;
    margin:20px 0px;
}

.left_o_top{
	display:block;
	width:100%;
}

.my_cart{
	display:block;
	padding:20px 0px;
}

.right_o_top{
	width:100%;
	display:block;
}

.location{
	display:block;
}


.loc_details{
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
    font-size: 13px;
    border: none;
    outline: none;
    width:150px;
    padding-left:3px;
    vertical-align: middle;
}

.check_t{	
    padding:3px 0px;
    position: relative;
}

.order_b{
	width:100%;
	position:relative;
	padding:10px 25px;
}

.delivery_slot{
	width:100%;
	position:relative;
	padding:10px 25px;
}

.left_delivery{
	position:relative;	
	width:100%;
	float:none;
	padding:3px 0px;
}

.right_delivery{
	position:relative;	
	width:100%;
	float:none;
	padding:3px 0px;
}


.item_a{
	position:relative;	
	width:100%;
	float:none;
	padding:3px 0px;
}

.item_b{
	position:relative;	
	width:100%;
	float:none;
}
.item_c{
	position:relative;	
	width:100%;
	float:none;
}


.pro_img{
	width:50%;
	margin:0% 2% 6% 0%;
    text-align:center;
}

.remove_b{
	width:100%;
	display:block;
	overflow:hidden;
	clear:both;
	padding:18px 10px 0px 0px;
}

.d_date{
	padding:2px 0px 0px 0px;
}

.d_slot{
	padding:6px 0px 0px 0px;
}

.last_box{
	position:relative;
	padding:30px 0px;
}

.button_place{
	position:relative;
	margin:0px 2px;
}


.b_con{
	display:block;
	margin-left:13px;
    padding:10px 20px;
}

.b_place{
	display:block;
	margin-top:20px;
	margin-left:13px;
    padding:10px 20px;
}

.price_box{
	position:relative;
	background-color:#fff;
}


.head_row{
	position:relative;
    padding: 16px 31px 0 13px;    
} 

.p_details{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:14px;
}

.price_detail_box{
	position:relative;
	background-color:#fff;
	padding:25px 30px 50px 13px;
	
}

.text_p{
	width:50%;
}	

.text_product_price{
	position:relative;
	float:left;
	width:50%;
}	

.price_n{
	font-size:14px;
}

.text_d{
	width:60%;
}	

.text_d_price{
	position:relative;
	float:left;
	width:40%;
}	

.styleb{
	position:absolute;
	border:1px solid #eee;
	width:80%;
	top:20px;
}

.amount_p{
	padding:10px 0px 30px 0px;
}	


.text_amount_price{
	padding:10px 0px 30px 0px;
}

.safe_row{
	text-align:center;
    padding: 16px 20px 10px 20px;
  
} 


.hygine_text{
	text-align:center;
	/*padding:10px 0px 0px 13px;*/
}

}



@media only screen and (max-width: 320px){



/*product_d start here*/

.product_d{
	width:100%;
	position:relative;
	padding:10px 0px;
}

.product_info{
	width:100%;
	position:relative;
	margin:0 auto;
	height:auto;
	display:block;
}

.img_l_heading{
	font-size:1em;
	padding:1px 10px;
	margin:0px;
}

.quantity_box{
	position:relative;
	display:block;
	width:100%;
	text-align:left;
	padding:0%;
	margin:1% 0% 0% 0%;
	padding:10px 0px;
}

form {
  width:100%;
  position:relative;
  height:auto;
  overflow:hidden;
  clear:both;
}

.order_box{
	display: inline-block;
    background-color: #fff;
    margin:20px 0px;
}

.left_o_top{
	display:block;
	width:100%;
}

.my_cart{
	display:block;
	padding:20px 0px;
}

.right_o_top{
	width:100%;
	display:block;
}

.location{
	display:block;
}


.loc_details{
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
    font-size: 13px;
    border: none;
    outline: none;
    width:150px;
    padding-left:3px;
    vertical-align: middle;
}

.check_t{	
    padding:3px 0px;
    position: relative;
}

.order_b{
	width:100%;
	position:relative;
	padding:10px 25px;
}


.delivery_slot{
	width:100%;
	position:relative;
	padding:10px 25px;
}

.left_delivery{
	position:relative;	
	width:100%;
	float:none;
	padding:3px 0px;
}

.right_delivery{
	position:relative;	
	width:100%;
	float:none;
	padding:3px 0px;
}


.item_a{
	position:relative;	
	width:100%;
	float:none;
	padding:3px 0px;
}

.item_b{
	position:relative;	
	width:100%;
	float:none;
}
.item_c{
	position:relative;	
	width:100%;
	float:none;
}


.pro_img{
	width:100%;
	margin:0% 2% 6% 0%;
    text-align:center;
}

.remove_b{
	width:100%;
	display:block;
	overflow:hidden;
	clear:both;
	padding:18px 10px 0px 0px;
}

.d_date{
	padding:2px 0px 0px 0px;
}

.d_slot{
	padding:6px 0px 0px 0px;
}

.last_box{
	position:relative;
	padding:30px 0px;
}

.button_place{
	position:relative;
	margin:0px 2px;
}


.b_con{
	display:block;
	margin-left:13px;
    padding:10px 20px;
}

.b_place{
	display:block;
	margin-top:20px;
	margin-left:13px;
    padding:10px 20px;
}

.price_box{
	position:relative;
	background-color:#fff;
}


.head_row{
	position:relative;
    padding: 16px 31px 0 13px;    
} 

.p_details{
	font-family: 'Roboto Slab', serif;
	color:#222;
	font-weight:700;
	font-size:14px;
}

.price_detail_box{
	position:relative;
	background-color:#fff;
	padding:25px 30px 50px 13px;
	
}

.text_p{
	width:50%;
}	

.text_product_price{
	position:relative;
	float:left;
	width:50%;
}	

.price_n{
	font-size:14px;
}

.text_d{
	width:60%;
}	

.text_d_price{
	position:relative;
	float:left;
	width:40%;
}	

.styleb{
	position:absolute;
	border:1px solid #eee;
	width:80%;
	top:20px;
}

.amount_p{
	padding:10px 0px 30px 0px;
}	


.text_amount_price{
	padding:10px 0px 30px 0px;
}

.safe_row{
	text-align:center;
    padding: 16px 20px 10px 20px;
  
} 


.hygine_text{
	text-align:center;
	/*padding:10px 0px 0px 13px;*/
}

}
















